h1{
  color:Black;
  font-size:30px;
}
p{ 
  font-size:20px;
  color: Black;
  width:50%;
  display:block;

}
h2{
  font-size:30px;
  display:block;
} 
#Box{
  display:inline-block;
  width:40%;
}
iFrame{
  display:inline-block;
  width:40%;
  
}
article{
  width:55%;
  display:inline-block;
}
