h1{
  color:Black;
  font-size:30px;
}
p{ 
  font-size:20px;
  color: Black;
  width:50%;
  display:inline-block;
  position: absolute;
  top:0;
}
h2{font-size:30px;
display:block;
} 
#box{
display:block;
width:100%;
}
iFrame{
  display:inline-block;
  width:40%;
  
}
